@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #e0e1dd;
    color: #0e0e0e;
}

header{
    margin-top: 20px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #0e0e0e;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
    color: #415a77;
}

nav a{
    font-size: 1.8rem;
    color: #0e0e0e;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #415a77;
    border-bottom: 3px solid #415a77;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #415a77;
        border-bottom: 3px solid #415a77;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #415a77;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #e0e1dd;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #415a77;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #415a77;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #0e0e0e;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #0e0e0e;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0  0 10px #415a77;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #415a77;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #415a77;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #415a77;
    color: black;
    box-shadow: 0 0 10px #ccc;
}

.typing-text{
    position: relative;
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    display: flex;
}

.words-wrapper {
    position: relative;
    width: 200px;
    height: 40px;
}

.words-wrapper .word {
    position: absolute;
    font-size: 40px;
    left: 8px;
    top: 0;
    opacity: 0;
    color: #415a77;
    white-space: nowrap;
    animation: fadeCycle 9s infinite;
}

.typing-text .word:nth-child(2) {
    animation-delay: 3s;
}

.typing-text .word:nth-child(3) {
    animation-delay: 6s;
}

@keyframes fadeCycle {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}
  

.typing-text .word.active {
    opacity: 1;
    position: relative;
}

@keyframes cursor{
    to{
        border-left: 3px solid #415a77;
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.projects {
    padding: 5rem 9%;
    background-color: #e0e1dd;
    color: #0e0e0e;
    min-height: auto;
  }

.section-title {
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #0e0e0e;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 2.5rem;
}


.project-card {
    background-color: #e0e1dd;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px #415a77;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px #415a77;
}

.project-title {
    font-size: 2.4rem;
    color: #0e0e0e;
    margin-bottom: 1rem;
}

.project-description {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: #0e0e0e;
}

.project-link {
    font-size: 1.4rem;
    color: #415a77;
    text-decoration: underline;
    transition: color 0.2s ease;
}

.project-link:hover {
    color: #0e0e0e;
}
  

